/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 8vw;
  font-weight: 400;
  margin-bottom: 1vh;
  margin-top: 9px;
  text-align: center;
}

h3 {
  font-size: 6vw;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
  font-size: 4vw;
}

ul li {
  font-size: 4vw;
}

section {
  padding: 0px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  margin: 0px 7px 0px 7px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap:10px
  /* border: 3px solid blue */
}

.item {
  flex: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  /* margin: 10px; */
  justify-content: center;
  /* border: 3px solid red; */
}

.form-group{
  display: flex;
  flex-direction: row;
  gap:10px;
  /* border:2px solid rgb(197, 2, 80)  */
}

.form-item{
  
}


/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 15vw;
  color: #fff;
}

header nav{
  display: flex;
  justify-content:center;
  /* border: 3px solid rgb(43, 43, 237); */
}

header nav ul {
  display:flex;
  justify-content: space-between;
  list-style-type: none;
  /* comment border */
  /* border: 3px solid red; */
  /* by default list has a decent chunk of padding to the left */
  padding-left: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  /* adds 20px of padding to right and removes other padding */
  padding: 0 20px 0 0;
  font-size: 4vw;
  /* comment border */
  /* border: 3px solid rgb(93, 0, 255); */
}


header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

header nav ul li:last-child a {
  /* Removes the margin to the right of the last anchor tag 
     so that the nav appears centered. */
  margin-right: 0;
  padding-right: 0;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 5px;
  

}
/* I need the form and the form label to be flexxed
and then I can use space-between so one will be left and one will be right */
form label {  
  font-weight: bold;
  font-size: 4vw;
  /* border:2px solid green */
}

form select,
form input {
  display:flex;
  /* border:solid 3px rgb(19, 91, 215); */
  font-size: 4vw;
  margin-bottom: 0px;
  width: 100%;
  
}

form button {
  /* display:flex;
  justify-content: center; */
  background-color: #ff385c;
  border: none;
  color: #fff;
  padding: 0px;
  width: 100%;
  border-radius: 5%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 3px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
/* format header on desktop */
  header{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 0px 20px;
  }

  h2{
    font-size: 3vw;
  }

  h3{
    font-size: 2vw;
  }

  p{
    font-size: 1vw;
  }

  ul li {
    font-size: 1.5vw;
  }
  form{
    display:flex;
    justify-content: space-between;
  }

  form label{
    font-size: 1.5vw;
  }

  form select,
  form input {
    font-size: 1.5vw;
  }

  .logo{
    margin:12px 0px;
    font-size: 4vw;
  }

  header nav{
    display: flex;
    justify-items: center;
  }

  header nav ul li a{
    font-size: 1.5vw;
  }

/* format the groups and images */


  .group{
    /* border: solid 3px red; */
    margin: 0px 7px 0px 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px
  }

  .form-group{
    flex:1;
  }

  #about .group img {
    /* if set to 100% as it was before, the image would take up the entire width of its container (that being the flex box it is in */
    width: 25%;
  }

  #ideas .group img{
    width:100%;
    /* border: 3px solid blue; */
  }

  .item {
    flex: 1;
    /* margin: 10px; */
    align-content: center;
    align-items: center;
    margin-bottom: 5px;
    /* border: 3px solid rgb(77, 10, 246); */
  }
  
  .item-double {
    flex: 2;
  }
}

/* GOD I HATE FORMS
I NEED TO FIX THE MOBILE AND DESKTOP FORM IDK HOW OFKFJWJFTOIJOP
*/